<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006500015865-3k8ekiqv7fhk07bijg0mj1etv6ifsgp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006500015865-3k8ekiqv7fhk07bijg0mj1etv6ifsgp2</string>
	<key>API_KEY</key>
	<string>AIzaSyATAd2MNAJk2ZsyNoKAIeghPlb4JMh3ajQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1006500015865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dashlingo.dashlingo</string>
	<key>PROJECT_ID</key>
	<string>dashlingoo</string>
	<key>STORAGE_BUCKET</key>
	<string>dashlingoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006500015865:ios:c3b1a847de82680c907c28</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7845313843304908~9895968404</string>
</dict>
</plist>